<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pg</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .button-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .button-container button {
            padding: 10px 20px;
            margin: 0 10px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .button-container button:hover {
            background-color: #45a049;
        }
        
    </style>
</head>
<body>
    <h1>Roommates and Property</h1>
    <div class="button-container">
        <button id="roommatesButton">Check Roommates Data</button>
        <button id="propertiesButton">Check Property Data</button>
    </div>
    
  
    <script>
        const roommatesButton = document.getElementById("roommatesButton");
        roommatesButton.addEventListener("click", function() {
           window.location.href = "http://localhost:8080/roommates";
        });

        const propertiesButton = document.getElementById("propertiesButton");
        propertiesButton.addEventListener("click", function() {
           window.location.href = "http://localhost:8080/properties";
        });
    </script>
</body>
</html>
