<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Info in detail</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Property Info in detail</h1>
    
    <div class="data">
      
        <h3>Property id: <%= property.id %></h3>
        <h3>LOCATION : <%= property.location %></h3>
        <h3>BUDGET: $<%= property.budget %></h3>
        <h3>SIZE : <%= property.size %></h3>
    </div>
</body>
</html>